extends layouts/master

block content
  .input-container
    .input-wrapper
      p Can't remember your password?
      input.text-input(type="text", placeholder="EMAIL", name="email")
      input(type="submit", value="Send Password Reset Link", name="password_reset_submit")