$main-color: #131313
$text-color: #aee4ff
$button-color: #14adff
$border-radius: 2px
$logo-color: #00a8a8
$confirm-green: #2dcc70
$input-green: #2dcc70
$warning-red: #f72459

@font-face
  font-family: oswald
  src: url("../fonts/Oswald-Regular.ttf")

@font-face
  font-family: open-sans
  src: url("../fonts/OpenSans-Regular.ttf")

@font-face
  font-family: fff-tusj
  src: url("../fonts/FFF_Tusj.ttf")

@font-face
  font-family: pacifico
  src: url("../fonts/Pacifico.ttf")

@font-face
  font-family: open-sans-light
  src: url("../fonts/OpenSans-Light.ttf")

@font-face
  font-family: source-sans-light
  src: url("../fonts/SourceSansPro-Light.otf")

*
  border: 0
  margin: 0
  padding: 0
  outline: none

.small
  font-size: 10px

a
  text-decoration: none
  transition: all .5s
  color: $text-color
  outline: 0

a:hover
  color: #0030ff

a:visited
  color: $text-color

.top-heading
  font-family: Oswald
  position: fixed
  top: 0
  width: 100%
  height: auto
  background-color: $main-color
  color: white
  z-index: 10

.top-heading a
  color: $text-color

.top-heading a:hover
  color: white

#logo-link-container
  height: 55px
  width: 95%
  margin: 20px auto
  letter-spacing: 1px

#logo
  display: inline-block

#logo p
  font-family: fff-tusj
  font-size: 45px
  letter-spacing: 2px
  color: $logo-color

#top-right
  font-size: 15px
  margin-top: 15px
  float: right



.flash-message
  position: fixed
  //top: 95px
  width: 100%
  text-align: center
  padding: 0
  opacity: 0
  font-size: 15px
  color: white
  transition: all .5s
  z-index: 9

.flash-message.show
  padding: 10px 0
  opacity: 1

.flash-message.error
  background-color: $warning-red

.flash-message.confirm
  background-color: $confirm-green


//body styling

body
  font-family: oswald

section
  background: url("../img/background-img.jpg") no-repeat fixed
  background-size: cover
  padding: 135px 0 60px 0
  height: 75vh
/**** ------------------------------------***/


//footer styling
footer
  position: fixed
  bottom: 0
  width: 100%
  background-color: $main-color
  color: $text-color
  font-size: 13px
  padding: 20px 0
  z-index: 5

footer p
  margin-left: 20px


//input fields styling

.input-container
  width: 50%
  height: auto
  background-color: rgba(0, 0, 0, 0.17)
  border-radius: $border-radius
  margin: 50px auto
  padding: 20px 0
  text-align: center


.input-wrapper
  width: 300px
  margin: 0 auto

input //.input-container input
  font-family: oswald
  width: 100%
  display: block
  margin: 30px 0
  background-color: white
  padding: 8px 0
  text-align: center
  font-size: 20px
  border-radius: $border-radius
  border: 1px solid white
  color: gray

input.required
  border: 1px solid red


.input-container input[type="submit"]
  background-color: $button-color
  border-top: 1px solid #06e6ff
  border-left: 2px solid #06e6ff
  border-right: 1px solid #0482ff
  border-bottom: 2px solid #0482ff
  color: white

.input-container input[type="submit"]:active
  border-right: 2px solid #06e6ff
  border-bottom: 2px solid #06e6ff
  border-top: 2px solid #0482ff
  border-left: 2px solid #0482ff


.input-container p
  text-align: left
  color: white
  font-size: 13px

label
  display: block
  position: absolute
  margin-top: -18px
  font-size: 10px
  color: $warning-red
  text-transform: uppercase

.valid
  border: 1px solid $confirm-green
  background-image: url("../img/check.png")
  background-position: 98% 50%
  background-repeat: no-repeat
  z-index: 100

select.error, textarea.error, input.error, input.error:focus
  border: 1px solid $warning-red
  background-image: url("../img/x.png")
  background-position: 98% 50%
  background-repeat: no-repeat
  z-index: 100

.text-input:focus
  border: 1px solid $confirm-green
