#logo-link-container {
  position: relative;
  height: 55px;
}

#logo {
  float: left;
}

#new-shopping-list {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  margin: 10px 0 0 20px;
  height: 45px;
}

#new-shopping-list input {
  margin: 0;
  width: 92%;
  float: left;
}

#new-shopping-list a {
  float: right;
  margin-top: 5px;
}

#top-right {
  margin-top: 10px;
  text-align: right;
  font-size: 13px;
}

#top-right p {
  display: inline-block;
  font-size: 15px;
}

.contact-name {
  padding: 3px 0 3px 30px;
  background: url("../img/contact-icon.png") no-repeat left center;
}

#menu {
  width: 95%;
  margin: 10px auto;
}

#main-body {
  margin: 135px 0 59px;
  width: 100%;
  height: auto;
}

section {
  padding-bottom: 50px;
}

.error-message, .confirm-message {
  position: fixed;
  top: 135px;
}

/*** list styling ***/
hr {
  border: 1px solid lightblue;
}

.lists-container {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 50px;
}

.list-heading input {
  font-family: oswald;
  width: 35%;
  display: inline-block;
  margin: 13px 100px 0 0;
  background-color: #bcbcbc;
  padding: 2px 0;
  text-align: center;
  font-size: 13px;
  border-radius: 2px;
  color: gray;
  float: right;
}

.list-wrapper {
  margin: 20px auto;
  height: auto;
  background-color: white;
  border-radius: 2px;
}

/*** LIST HEADING STYLING ***/
.list-heading {
  position: relative;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

h4.list-name {
  color: #383838;
  display: inline-block;
  width: auto;
  margin: 10px 5px 0 0;
}

.date-created, .created-by, a.edit-list {
  color: #9f9f9f;
}

.created-info {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  text-align: right;
  float: right;
}

/*** LIST BODY - LIST ITEMS STYLING ***/
.list-body {
  margin: 0 5px;
}

.item-wrapper {
  position: relative;
  border-top: 2px solid lightblue;
  margin: 5px 0;
}

.item-wrapper input[type="checkbox"] {
  float: left;
  width: 0px;
  margin: 10px;
}

.item-wrapper .container {
  display: block;
  height: 35px;
}

.item-name {
  float: left;
  margin-top: 3px;
}

.bought-item {
  text-decoration: line-through;
  color: #383838;
}

.quantity {
  color: gray;
  font-size: 15px;
}

.notes {
  font-size: 13px;
  margin-left: 5px;
  font-family: open-sans;
  color: gray;
}

.item-wrapper .item-settings-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px 5px 0;
}

img.item-settings {
  cursor: pointer;
}

/*** LIST FOOTER ***/
.list-footer {
  margin: 15px 5px;
  padding-bottom: 10px;
}

.shared-with {
  font-size: 15px;
}

.shared-with-names {
  font-size: 13px;
  color: gray;
}

.share-list-btn {
  width: 100px;
  padding: 0;
  margin: 5px auto;
  background-color: #14adff;
  border-top: 2px solid #06e6ff;
  border-left: 2px solid #06e6ff;
  border-right: 2px solid #0482ff;
  border-bottom: 2px solid #0482ff;
  color: white;
}

.share-list-btn:active {
  border-right: 2px solid #06e6ff;
  border-bottom: 2px solid #06e6ff;
  border-top: 2px solid #0482ff;
  border-left: 2px solid #0482ff;
}
