@font-face {
  font-family: oswald;
  src: url("../fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: open-sans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: fff-tusj;
  src: url("../fonts/FFF_Tusj.ttf");
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

.small {
  font-size: 10px;
}

a {
  text-decoration: none;
  transition: all 0.5s;
  color: #aee4ff;
  outline: 0;
}

a:hover {
  color: #0030ff;
}

a:visited {
  color: #aee4ff;
}

.top-heading {
  font-family: Oswald;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #131313;
  color: white;
  z-index: 10;
}

.top-heading a {
  color: #aee4ff;
}

.top-heading a:hover {
  color: white;
}

#logo-link-container {
  height: 55px;
  width: 95%;
  margin: 20px auto;
  letter-spacing: 1px;
}

#logo {
  display: inline-block;
}

#logo p {
  font-family: fff-tusj;
  font-size: 45px;
  letter-spacing: 2px;
  color: #009d9d;
}

#top-right {
  font-size: 15px;
  margin-top: 15px;
  float: right;
}

.flash-message {
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 0;
  opacity: 0;
  font-size: 15px;
  color: white;
  transition: all 0.5s;
  z-index: 9;
}

.flash-message.active {
  padding: 10px 0;
  opacity: 1;
}

.flash-message.error {
  background-color: #f72459;
}

.flash-message.confirm {
  background-color: #2dcc70;
}

body {
  font-family: oswald;
}

#main-body {
  position: relative;
  margin: 95px 0 59px;
  width: 100%;
  height: 100vh;
  background: url("../img/background-img.jpg") no-repeat fixed;
  background-size: cover;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 0;
  text-align: center;
  font-size: 18px;
  z-index: 5;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #131313;
  color: #aee4ff;
  font-size: 13px;
  padding: 20px 0;
  z-index: -1;
}

footer p {
  margin-left: 20px;
}

.input-container {
  width: 50%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.17);
  border-radius: 2px;
  margin: 50px auto;
  padding: 20px 0;
  text-align: center;
}

.input-wrapper {
  width: 300px;
  margin: 0 auto;
}

input {
  font-family: oswald;
  width: 100%;
  display: block;
  margin: 30px 0;
  background-color: white;
  padding: 8px 0;
  text-align: center;
  font-size: 20px;
  border-radius: 2px;
  border: 1px solid white;
  color: gray;
}

input.required {
  border: 1px solid red;
}

.input-container input[type="submit"] {
  background-color: #14adff;
  border-top: 1px solid #06e6ff;
  border-left: 2px solid #06e6ff;
  border-right: 1px solid #0482ff;
  border-bottom: 2px solid #0482ff;
  color: white;
}

.input-container input[type="submit"]:active {
  border-right: 2px solid #06e6ff;
  border-bottom: 2px solid #06e6ff;
  border-top: 2px solid #0482ff;
  border-left: 2px solid #0482ff;
}

.input-container p {
  text-align: left;
  color: white;
  font-size: 13px;
}

label {
  display: block;
  position: absolute;
  margin-top: -18px;
  font-size: 10px;
  color: #f72459;
  text-transform: uppercase;
}

.valid {
  border: 1px solid #2dcc70;
  background-image: url("../img/check.png");
  background-position: 98% 50%;
  background-repeat: no-repeat;
  z-index: 100;
}

select.error, textarea.error, input.error, input.error:focus {
  border: 1px solid #f72459;
  background-image: url("../img/x.png");
  background-position: 98% 50%;
  background-repeat: no-repeat;
  z-index: 100;
}

.text-input:focus {
  border: 1px solid #2dcc70;
}
