extends layouts/master

block content
  .input-container
    .input-wrapper
      p Confirm your email and set your new password
      input.text-input(type="text", placeholder="EMAIL", name="email")
      input.text-input(type="password", placeholder="NEW PASSWORD", name="new_password")
      input.text-input(type="password", placeholder="CONFIRM NEW PASSWORD", name="new_password_cf")
      input(type="submit", value="Reset Password", name="reset_password_submit")
