doctype html
html(lang="en")
  include head
  body
    include heading

    #main-body
      //.error-message This email doesn't exist. Try again
      //.confirm-message Your Password has been reset
      section
        block content


    include footer